# API-Football (api-sports.io) – Süper Lig fikstür ve sonuçları. https://www.api-football.com/pricing
API_FOOTBALL_KEY=
API_FOOTBALL_SEASON=2026
API_FOOTBALL_LEAGUE=203
# The Odds API – 1X2 oranları. https://the-odds-api.com/#get-access
ODDS_API_KEY=
ODDS_API_SPORT=soccer_turkey_super_league
ODDS_API_REGIONS=eu
# İsteğe bağlı
TOTO_CACHE_TTL=1800
TOTO_BULLETIN_FILE=
